footer{
    background: #2c3e50;
    width: 100%;
    overflow: auto;
    text-decoration: none;
    .footerPrimero{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 0 3% 0;
    }
    .footerTexto{
        width: 100%;
        margin: 0 auto;
    }
    .footerTextomenu{
        float: left;
        width: 20%;
        padding: 4%;
    }
    .footer-nav{
        text-align: right;
    }
    .footerIcono{
        float: left;
        width: 80%;
        padding: 4% 4% 2% 0;
    }
    .footer-nav a{
        font-size: 160%;
        color: #c3d7df;
        font-weight: 300;
    }
    .footer-nav a:hover {
        color:rgb(197, 40, 93);
    }
    .social {
        text-align: center;
    }
    .social li{
        display: inline;
    }
    .social i{
        font-size: 420%;
        margin: 1%;
        padding: 5%;
        color: #c3d7df;
    }
    .footerSegundo{
        border-top: 1px solid #aadcd2;
        text-align: center;
        margin: 0;
    }
    .footerFinal{
        text-align: center;
        color: #fff;
        font: 160%;
        line-height: 155%;
        padding: 20px;
    }
    .footerSegundo a{
        text-align: center;
        color: #fff;
        font: 160%;
        line-height: 155%;
        padding: 20px;
    }
}