$colorprincipal: salmon;
$colorborde: #687479;
$colorseccion:rgb(226, 202, 152);
$colorsombra1: drop-shadow(10px 5px 15px rgb(241, 14, 147));
$colorsombra2: drop-shadow(5px 5px 10px rgb(15, 46, 219));
$colorsombra3: drop-shadow(5px 5px 10px yellow);
$colorsombra4: drop-shadow(5px 5px 10px rgb(129, 6, 43));
$ancho: 720px;